{% extends "base.html" %}
{% block title %}zachdotcom{% endblock %}

{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>{{ page_header }}</h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="post" id="aboutme-blurb">
                {{ aboutme_blurb|safe }}
                <a class="btn btn-block btn-social btn-github">
                  <span class="fa fa-github"></span>Github
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="sidebar" id="aboutme-sidebar">
                {{ sidebar|safe }}
            </div>
        </div>
    </div>
</div>
{% endblock %}