{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Garden Section{% endblock %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

{% block page_content %}

<div class="container">
    <div class="page-header">
        <h1>{{ page_header }}</h1>
    </div>

    <div class="About">
        <h2>Gardening stuff</h2>
            <div class=page_data>
                {% for table in tables %}
                    {{ table|safe }}
                {% endfor %}
            </div>

    </div>

    <div class="show_data">

    </div>
</div>
{% endblock %}