{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Garden Section{% endblock %}

{% block styles %}
{{super()}}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}

<div class="container" id="header">
    <div class="page-header">
        <h1>{{ page_header }}</h1>
    </div>

    <div class="container-fluid" id="weather-strip">

    </div>

    <div class="row">
        <div class="col-md-8">
            <h2>Gardening Log</h2>
                <table class="table table-bordered">
                    <strong>Current plant count</strong>
                    {% for table in tables %}
                        {{ table|safe }}
                    {% endfor %}
                </table>
        </div>

        <div class="col-md-4">
            <h3>Total of each plant type germinated</h3>
            <table class="table table-striped">
                {{ plant_totals|safe }}
            </table>
        </div>
    </div>

    <strong>Record a new plant count</strong>

    <div class="container" id="data_entry">
        <div class="row">
            <div class="col-md-6">
                {{ form.csrf_token }}
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}